<h1>Welcome#index</h1>
<p><b>This is public stuff everyone can see!</b></p>

<h3>To Do:</h3>
<ol>
  <li>Route to sign in page and the create a user page as sigular routes.</li>
  <li>Create a user, sign them in.</li>
  <li>Show logged in status when signed in.</li>
  <li>Allow them to sign out.</li>
  <li>Allow them to sign back in.</li>
  <li>Only let signed in people view the dashboard.</li>
</ol>

<h4>Notes:</h4>
<ul>
  <li>After signing in, you should be redirected to the dashboard.</li>
  <li>After signing out, you should be redirected to the home page.</li>
</ul>
